/*      Universal styles        */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
body {
    background-color: hsla(0, 16%, 87%, 0.7)
}
h1 {
    text-align: center;
    font-size: 5.1rem;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    border: 0.4rem solid hsla(360, 100%, 100%, 1);
}
/*      Navigation Bar      */

.nav li a {
    font-size: 1.1rem;
    font-weight: bold;
}
#active {
    color: hsla(201, 62%, 52%, 1);
    background-color: inherit;
}
@media only screen and (max-width: 767px) {
    #logo {
        display: none;
    }
    .navbar-nav {
        text-align: center;
    }
}

/*      Slick Carousel      */
.jumbotron-img {
    height: 40rem;
    width: 100%;
    margin-top: 3.5rem;
}
#slideshow {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#carousel1 {
    background-image: url("../images/views.jpg");
}
#carousel2 {
    background-image: url("../images/wallpaper.jpg");
}
#carousel3 {
    background-image: url("../images/viewf.jpg");
}
#carousel4 {
    background-image: url("../images/IMG_4190.jpg");
}


#carousel1, #carousel2, #carousel3, #carousel4, #carousel5 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    overflow: hidden;
    align-items: center;
}
.img-content {
    margin-top: 20%;
}
.img-content h1 {
    font-family: 'Monoton', cursive;
    letter-spacing: 0.2rem;
    font-size: 7.1rem;
    text-shadow: -1px -1px 0 hsla(360, 100%, 100%, 1),
  1px -1px 0 hsla(360, 100%, 100%, 1), -1px 1px 0 hsla(360, 100%, 100%, 1), 1px 1px 0 hsla(360, 100%, 100%, 1);
}
.img-content p {
    color: hsla(360, 100%, 100%, 1);
    font-size: 3rem;
    text-shadow: -1px -1px 0 hsla(0, 0%, 0%, 1),
                 1px -1px 0 hsla(0, 0%, 0%, 1), 
                 -1px 1px 0 hsla(0, 0%, 0%, 1), 
                 1px 1px 0 hsla(0, 0%, 0%, 1);

}
.img-content a {
    text-shadow: -1px -1px 0 hsla(0, 0%, 0%, 1),
    1px -1px 0 hsla(0, 0%, 0%, 1), 
    -1px 1px 0 hsla(0, 0%, 0%, 1), 
    1px 1px 0 hsla(0, 0%, 0%, 1);

}
.btn:active {
    position: relative;
    top: 0.2rem;
}
@media only screen and (max-width: 767px) {
    .jumbotron-img {
        position: relative;
        top: 8.9rem;
    }
}
/*      About Me        */
.about {
    margin-top: 2rem;
}
#about-img {
    max-height: 30rem;
}
.about h1 {
    padding-bottom: 2rem;
}
#jump {
    background-image: url("../images/jump.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    border: 0.4rem solid hsla(360, 100%, 100%, 1);
}
#jump h2 {
    color: hsla(360, 100%, 100%, 1);
    text-shadow: -1px -1px 0 hsla(0, 0%, 0%, 1),
    1px -1px 0 hsla(0, 0%, 0%, 1), 
    -1px 1px 0 hsla(0, 0%, 0%, 1), 
    1px 1px 0 hsla(0, 0%, 0%, 1);
    margin-top: 5rem;
}
.jumping-h2 {
    padding-left: 0.5rem;
}


/*      Passions Section      */
.passion {
    margin: 2rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 2px solid hsla(0, 0%, 0%, 1);
    border-bottom: 2px solid hsla(0, 0%, 0%, 1);

}
.pas-img {
    max-height: 27rem;
    overflow: hidden;
    justify-self: center;

}

/*      Experience Section      */

.experience {
    margin-top: 2rem;
}
.experience img {
    align-self: center;
}