/*      Universal styles        */
.colorpalette {
    color: hsla(2, 71%, 29%, 1);
    color: hsla(143, 54%, 8%, 0.949);
    color: hsl(322, 10%, 84%, 1);
    color: hsla(195, 3%, 30%, 0.95);
    color: hsl(144, 14%, 52%, 1);
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

@font-face {
    font-family: "blowBrush";
    src: url("../fonts/blowbrush/blowbrush.ttf");
    font-style: normal;
    font-weight: 600;
}
body {
    width: 100%;
    color: hsla(190, 73%, 12%, 1);
    font-weight: 700;
    position: relative;
}
section {
    padding-top: 7rem;
}
h1 {
    text-align: left;
    color: hsla(190, 68%, 24%, 0.95);
}
h2 {
    color: hsla(190, 68%, 24%, 0.95);
    font-weight: bold;
}
h3 {
    color: hsla(190, 68%, 24%, 0.95);
    font-weight: bold;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.btn {
    background-color: hsla(190, 68%, 24%, 0.95);
    border-color: hsla(190, 68%, 24%, 0.95);
    color: hsla(360, 100%, 100%, 1);
    font-size: 1rem;
    font-weight: bold;
}
.btn:hover, .btn:active, .btn.focus, .btn:focus  {
    background-color:  hsla(322, 10%, 84%, 1);
    border-color: hsla(322, 10%, 84%, 1);
    color: hsla(190, 68%, 24%, 0.95);
    box-shadow: 0 0 0 0.2rem hsla(322, 10%, 84%, 1);
}
.btn:active {
    position: relative;
    top: 0.2rem;
}
.style-hr {
    width: 14rem;
    height: 0.6rem;
    box-shadow: inset 0 9px 9px -3px hsla(190, 68%, 24%, 1);
    border-radius: 5px;
    margin: 4rem auto 2rem auto;
}

/***************************
      Welcome pop-up box    
****************************/

#welcome-modal {
    background-color: hsla(0, 0%, 0%, 0.3);
    padding: 2rem!important;
}
.modal-body .row img {
    width: 35%;
    border-radius: 50%;
    margin: 1rem auto;
}
.modal-body, .modal-header {
    background-color: hsla(360, 100%, 100%, 0.2);
}
#btnHideModal {
    justify-self: center;
}

/***************************
      Navigation Bar        
****************************/
.navbar-nav {
    display: inline-flex;
    flex-direction: row;
    margin-left: 2rem;
    position: relative;
}
#navi {
    background-color: hsla(190, 68%, 24%, 0.95);
}
.navbar-nav li a {
    margin: auto 0.5rem;
    color: hsla(360, 100%, 100%, 1);
}
.navbar-nav li a:hover {
    border-bottom: 2px solid hsla(360, 100%, 100%, 1);
}
.nav-link.active {
    border-bottom: 2px solid hsla(360, 100%, 100%, 1);
}
.navbar {
    padding-top: 0.1rem;
}
.navbar-toggler {
    padding: 0;
}
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
.fas, .fas-bars {
    color: hsla(2, 71%, 29%, 1);
}
/******     Media Screens    ******/
@media only screen and (max-width: 767px) {
    #navi {
        padding: 0.2rem!important;
    }
    #scrollspy-nav {
        margin: 0;
    }
    .navbar-nav {
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 767px) {
    #border-navbar-toggler {
        padding-left: 1rem;
    }
}
 
/***************************
      Bootstrap Carousel    
****************************/

#carouselExampleIndicators {
    height: 40rem;
    width: 100%;
    overflow: hidden;
    background-color: rgba(19, 88, 102, 0.95);
}
#carouselExampleIndicators .carousel-h2 {
    color: hsla(360, 100%, 100%, 1);
    font-weight: 700;
    font-size: 1.5rem;
}
.carousel-inner {
    height: 100%;
    width: 100%;
}
.carousel-item {
    width: 100%;
    height: 100%;
}
a:-webkit-any-link {
    color: hsla(360, 100%, 100%, 1);
    cursor: none;
}
.carousel-item p {
    color: hsla(360, 100%, 100%, 1);
    font-size: 0.8rem;
}

/******    Slide 1    ******/
.slide1 {
    width: 100%;
}
.slide1 .row {
    height: 100%;
    align-self: center;
}
.content-slide1 {
    text-align: right;
    display: flex;
    justify-content: center;
}
#slide1Content {
    align-self: center;
    text-align: right;
    line-height: 1rem;
}
/******     Media Screens    ******/
@media only screen and (max-width: 574px) {
    #slide1Content {
        padding-bottom: 2.5rem;
    }
}
@media only screen and (min-width: 768px) {
    .slide1 .row {
        height: 90%;
        align-self: center;
    }
    .image-slide1 {
        text-align: right;
    }
    .slide1 .row .col-sm-6 {
        height: auto;
    }
    .content-slide1 {
        height: 100%;
        padding-top: 10rem;
    }
    .image-slide1 {
        padding-top: 3rem;
    }
}

/******    Slide 2    ******/

.carousel-h2 h2 {
    color: hsla(360, 100%, 100%, 1);
}
.slide2-row {
    height: 38rem;
}
.img-slide2 {
    align-items: center;
    justify-content: center;
    height: 11rem;
    width: auto;
    margin-top: 0;
    position: relative;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.slide2-text {
    font-size: 2rem;
    line-height: 2rem;
    background-color: hsla(360, 100%, 100%, 0.5);
    position: absolute;
    z-index: 2;
    color: hsla(190, 68%, 24%, 0.95);
}
.heading2 {
    font-family: 'blowBrush'; 
    letter-spacing: 2px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: hsla(2, 71%, 29%, 1);

}
.heading3 {
    font-family: sans-serif; 
    font-size: 2rem;
    line-height: 2rem;
    color: #000000;
    background-color: hsla(55, 100%, 50%, 0.6);
}
#slide2-btn-col {
    height: 1.5rem;
}
/******     Media Screens    ******/
@media only screen and (max-width: 767px) {
    .carousel-h2 h2 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        line-height: 1.5rem;
        position: relative;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
    }
    .img-slide2 {
        height: 10rem;
        overflow: hidden;
    }
}
@media only screen and (min-width: 768px) {
    .img-slide2 {
        position: relative;
        top: 2rem;
    }
}

/******    Slide 3    ******/

/* Working with 2 diffent image sizes on Slide 3
   to better fit the different screen sizes
*/
#slideImgLarge {
    display: none !important;
}
.slide3 {
    padding-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}
.slide3 .row {
    margin-top: 0.3rem;
}
.slide3 h3 {
    margin-bottom: 0.5rem;
    color: hsla(360, 100%, 100%, 1);
}
.img-slide3 {
    margin: 0.4rem auto;
    padding-right: 0;
}
.img-slide3 img {
    height: 10rem;
    padding-left: 0.5rem;
}
.content-slide3 {
    text-align: left;
    margin-top: 0.5rem;
    padding-right: 1.5rem;
}
/******     Media Screens    ******/
@media only screen and (max-width: 425px) {
    .slide3 {
        padding: 0rem;
        margin: 0;
    }
    #slide3h2 {
        margin-top: 0.7rem;
        padding-left: 2rem;
    }
    .content-slide3 {
        text-align: left;
    }
    .content-slide3 h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 425px) {
    .slide3 {
        padding-top: 1rem;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 768px) {
    .slide3 {
        font-size: 1.2rem;
    }

    #slide3h2 {
        font-size: 2.5rem;
    }
    #slideImgSmall {
        display: none!important;
    }
    #slideImgLarge {
        display: block!important;
    }
    .secondRow {
        padding-left: 10rem;
    }
    .thirdRow {
        padding-left: 20rem;
    }
}

/******    Slide 4    ******/
.slide4 {
    padding-top: 4rem;
    text-align: center;
}
.slide4 .carousel-h2 {
    margin-bottom: 2rem;
    color: hsla(2, 71%, 29%, 1);
}
.slide4 .slide-img {
    text-align: left;
}
.box4-content {  
    margin: 2rem 0 0 0;
    text-align: left;
}
.box4-content .col-4 {
    padding-right: 0;
    padding-left: 0;
}
.box4-content .col-4 p:first-child {
    font-size: 1.2rem;
}
#slide4-btn {
    margin-top: 1rem;
}

/****** Carousel Controls ******/
.carousel-control-prev, .carousel-control-next {
    top: 34rem;
}


/***********************
        About Me        
***********************/
.about_section {
    background-image: url("../images/batman-chalk-drawing-bad-cape-cropped.jpg");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-size: contain;  
}
.about {
    background-color: transparent;
}
.about h1 {
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-weight: bold;
    background-color: transparent;
}
.about-content {
    padding: 0;
    background-color: hsla(360, 100%, 100%, 0.8);
}

/****** Jumping ******/
.jumping {
    background-color: hsla(360, 100%, 100%, 0.8);
}
#jump {
    margin-top: 6rem;
    margin-bottom: 3rem;
    transform: rotate(-10deg);
    border-radius: 5%;
 }
.quickFacts {
    line-height: 1.2rem;
    padding: 1rem;
    border: 3px solid hsla(190, 68%, 24%, 0.95);
}
.quickFacts h2 {
    color: hsla(190, 68%, 24%, 0.95);
    padding-bottom: 1rem;
}
@media only screen and (min-width: 767px) {
    .jumping {
    padding-left: 6rem;
    }
}
/***********************
        My Skills       
***********************/

.skill_section {
    background-image: url("../images/acf2-cropped.jpg");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.skill-content {
    background-color: #ffffffcc;
}

/* The progress of my skills */
.progress {
    margin-top: 0.5rem;
    height: 2.5rem;
}

.progress-box, .progress-section {
    margin-top: 2.5rem;
    background-color: hsla(360, 100%, 100%, 0.8);
}

.progress-section img {
    padding: 0;
    margin: 0;
}

.progress-bar {
    text-align: left;
    padding-left: 4rem;
}
.progress-bar span {
    font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
    .skill_section {
    background-image: url("../images/afcBackground300x1200.png");
    }
}

/*******************************
        Portfolio Section       
*******************************/

.project {
    margin-top: 3rem;
    border: 0.4rem solid hsla(2, 71%, 29%, 1);
    padding: 2.5rem 0rem;
    background-color: hsla(360, 100%, 100%, 0.8);
}

.border-img {
    border: 0.4rem solid #135866f2;
    padding: 0.5rem;
}

.landing {
    margin-top: 4rem;
}

/***************************************
        What I bring to the table       
***************************************/

#content-whatIBring .row{
    background-image: url("../images/rickgrimes.jpg");
    background-repeat: no-repeat; 
    background-size: contain;
    background-position-x: -10px;
}
#content-whatIBring .row div {
    background-color: hsla(360, 100%, 100%, 0.8);
}

/*******************************
        Passions Section        
*******************************/

#my_passions .row div {
    background-color: hsla(360, 100%, 100%, 0.8);
}
.pas-img-div {
    padding: 1rem;
}
.pas-img {
    /* box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.19), -15px -15px 8px rgba(0, 0, 0, 0.4), 0 -10px 20px rgba(0, 0, 0, 0.19); */
    box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.8);
}

@media only screen and (min-width: 767px) {
#my_passions {
    background-image: url("../images/tounge500x1000.png");
    background-repeat: no-repeat;
    }
}


/***********************************
        Testimonials Section        
***********************************/

.testimonials {
    padding-bottom: 2rem;
}
.testimonials .row {
    display: flex;
}
.box {
    margin: 2rem 1rem;
    padding:0;
    border: 0.4rem solid hsla(360, 100%, 100%, 1);
    border-radius: 5rem;
    background-color: hsla(360, 100%, 100%, 0.7);
}
.box-img {
    background-color: hsla(190, 68%, 24%, 0.95);
    display: flex;
    flex-direction: column;
    border-radius: 5rem 5rem 0 0;
}
.box-img .img-fluid {
    max-width: 50%;
    min-width: 200px;
    height: auto;
    align-self: center;
    margin: 1rem;
}
.box-content {
    border-radius: 5rem;
}
.linkedIn-box-content {
    width: 100%;
    text-align: end;
    margin-top: 4rem;
}

#text-toggle-cb, #text-toggle-ad {
    display: none;
}

/******************************
        Contact Section        
*******************************/
#contact {
    margin-bottom: 4rem;
}
#contact-btn {
    margin: 1.5rem auto;
}
#exampleFormControlInput1, #exampleInputEmail, #exampleFormControlTextarea {
    border: 2px solid hsla(190, 68%, 24%, 0.95);
}
#exampleFormControlTextarea {
    width: 100%;
    height: 10rem;
    border: 2px solid hsla(190, 68%, 24%, 0.95);
}


